@using EmployeeManagementSystem.Application.DTOs.Department
@model DepartmentDTO

@{
    ViewData["Title"] = "Add Department";
}

<h2>Add Employee</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="DepartmentName" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

