@using EmployeeManagementSystem.Application.DTOs.Department
@model IEnumerable<DepartmentDTO>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Create Department</a>
</div>

<table id="myTable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.DepartmentName</td>
            </tr>
        }
    </tbody>
</table>
