@using EmployeeManagementSystem.Application.DTOs.Department
@model IEnumerable<DepartmentDTO>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>DepartmentName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.DepartmentName</td>
                @* <td>
                    <a asp-action="Details" asp-route-id="@employee.EmployeeID" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@employee.EmployeeID" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@employee.EmployeeID" class="btn btn-danger btn-sm">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>